.slider {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    height: 400px;

    .slides {
        display: flex;
        transition: transform 0.5s ease;
        width: 100%;
    }

    .slide {
        min-width: 100%;
        display: none;
        height: 100%;
    }

    .img-container {
        height: 400px;
    }

    .slide.active {
        display: flex;
    }

    .img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        max-width: 480px;
    }

    .vertical {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 48px;
        gap: 24px;
        position: relative;

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 24px;

            width: 105px;
            height: 48px;
            background: #2F5DD3;
            color: white;
            border: none;

            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;

        }

        h2 {
            width: 123px;
            height: 44px;
            font-style: italic;
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            color: #242A38;


        }

        p {
            max-width: 608px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #6C6F75;
            height: 110px;
        }
    }


    .controls {
        position: absolute;
        display: flex;

        margin-top: 352px;

        .btn {
            width: 48px;
            height: 48px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 20px;

            img {
                height: 14.3px;
                width: 8.68px;
            }
        }

        .prev-btn {
            background-color: white;
            color: #2F5DD3;
        }

        .next-btn {
            background-color: #2F5DD3;
            color: white;

        }
    }
}

@media (max-width: 1025px) {
    .slider 
    {
        .vertical {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 44px;
        gap: 22px;

         p {
                height: unset;
         }
    }}
}

@media (max-width: 769px) {
    .slider {
        display: flex;
        align-items: center;
        height: unset;
        // width: 382px;

        .slide.active {
            display: flex;
            flex-direction: row;
        }

        .vertical {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 34px;
            gap: 18px;
        }


        h2 {
            font-size: 28px;
        }
    }
}

@media (max-width: 426px) {
    .slider {
        display: flex;
        align-items: center;
        height: unset;
        .slide.active {
            display: flex;
            flex-direction: column;
        }
        .vertical {

            padding: 24px;
            gap: 16px;

            p {
                font-size: 16px;
                line-height: 22px;
                height: 220px;
            }

            h2 {
                font-family: var(--font-family);
                font-style: italic;
                font-weight: 700;
                font-size: 24px;
                color: #242a38;
            }
        }
    }

    .input-form {
        padding: 24px;
        gap: 16px;
        flex-direction: column;

        .rating-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 24px;
        }
    }

    .table-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        // width: 382px;

        .calendar {
            width: unset;
            height: unset;
            background: #fff;
        }

        .vertical-container {
            .container-element {

                .btn-write,
                .btn-write {
                    width: 100%;
                }
            }
        }
    }


    .container {
        margin-top: 50px;

    }

    .application form {
        width: 100%;
        padding: 24px;
    }
}