doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Адаптивный Шаблон
        link(rel="stylesheet", href="main.css") 
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    body
        header
            h1 Заголовок сайта
        main
            section.slider
                img(src="img/Image1.png", alt="Горы", class="img") 
                .vertical
                    h2 Слайд 3
                    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей.
                    btn.btn Кнопка
            section.input-form
                .rating-container 
                    p.p Блок с поиском
                
                .container

            div.table-container
                .calendar
                    h2 Календарь

                .vertical-container
                    .container-element 
                        .tags
                            .btn-tag Очень длинный тэг
                            .btn-tag Тэг
                            .btn-tag Очень длинный тэг  
                            .btn-tag Тэг
                            .btn-tag Очень длинный тэг  
                            .btn-tag Тэг
                            .btn-tag Тэг
                            .btn-tag Тэг 
                            .btn-tag Очень длинный тэг  
                            .btn-tag Тэг
                            .btn-tag Тэг

                        p Международная научно-практическая конференция: “Переход от образовательной среды к образовательной экосистеме в интересах устойчивого развития””

                        .tags
                            .btn-write Написать
                            .btn-more Подробнее -
                                .triangle
                            
                    .container-element 
                        .tags
                            .btn-tag Образование
                            .btn-tag Очное
                            .btn-tag Студенты
                        p Международная научно-практическая конференция: “Переход от образовательной среды к образовательной экосистеме в интересах устойчивого развития””
                        .tags
                            .btn-write Написать
                            .btn-more Подробнее ->
                                .triangle
                    .container-element 
                        .tags
                            .btn-tag Образование
                            .btn-tag Очное
                            .btn-tag Студенты
                        p Международная научно-практическая конференция: “Переход от образовательной среды к образовательной экосистеме в интересах устойчивого развития””
                        .tags
                            .btn-write Написать
                            .btn-more Подробнее
                                .triangle
                    .container-element 
                        .tags
                            .btn-tag Образование
                            .btn-tag Очное
                            .btn-tag Студенты
                        p Международная научно-практическая конференция: “Переход от образовательной среды к образовательной экосистеме в интересах устойчивого развития””
                        
                        .tags
                            .btn-write Написать
                            .btn-more Подробнее
                                .triangle

            

            .images-container
                img.image1(src="img/Other 01.png", alt="")
                img.image2(src="img/Vector.png", alt="")
            

